
.column-2{
    float: left;
    width: 41%;
    padding: 4%;
    margin-bottom: 2%;
    
}
.clear{
    clear: both;
    
}

body{
font-family: sans-serif;
width: 60%;
margin: 3% auto;
 }

input[type="text"] {
display: inline-block;
width: 100%;


}

select{
    
display: inline-block;
width: 100%;
padding: 0.4%;

}

.clear1{
    padding: 5%;
}

.clear3{
    padding: 5%;
}

.clear2{
    padding: 1%;
}

.clear4{
    padding: 5%;
}

.column-1{

    float:right;
    width: 47%;
    padding: 1%;
    margin-top: 5%; 
    margin-bottom: 1%; 
    color:#096d03;
}

.column-3{
    float: left;
    width: 49%;
    padding: 1%;
    margin-top: 5%;
    margin-bottom: 1%;
    color:#096d03;
}

.column-4{

    margin-top: 4%;
    margin-bottom: 2%;
}

.botao{
    
    background-color:darkgray;
    border:1px;
    padding: 0.5%;
}

.botao:hover{
    background-color: darkslategray;
}

legend{
    border:1px solid black;
    padding: 1%;
    color:#096d03;
    background-color: white;
    
}

label{
    color:#096d03;
    ;
}

fieldset{
    border-color: #31c728;
}



